* {
    box-sizing: border-box;
    padding: 0px;
    
}



h1 {
    color:red;
    font-weight: bold;
}

h1:hover {
    color: blue;
}


/* visibilty of photo in about */
#pic {
    opacity: 0.75;
}


#tanta {
    color: blue;
    font-weight: bold;
}

/* menu bar on the top */
.bar {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold; 
    text-align: center;
    margin: 0px;
    background: rgb(26, 8, 73);
    height: 50px;
    padding: 0px;
   
}

.bar ul {
    display: inline-flex;
    list-style: none;
    margin: 0px;
    
    
    
    
}


.bar ul li {

    width: 180px;
    margin: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
    height: 50px;
    text-align: center;
    
}

.bar ul li:hover {
    background: chartreuse
}
/* menu1 (services) */

.menu1 {
    display: none;
    
}

.bar ul li:hover .menu1 {
    display: block;
    background:rgb(26, 8, 73);
    position: absolute;
    margin-top: 13px;
    
} 







.bar ul li:hover .menu1 ul
{
    display: block;
    
}

.menu1 ul li:hover {
    background: chartreuse;
}
