* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-align: right;
}



h1 {
    color:red;
    font-weight: bold;
}

h1:hover {
    color: blue;
}


/* visibilty of photo in about */
#pic {
    opacity: 0.75;
}


#tanta {
    color: blue;
    font-weight: bold;
}

/* menu bar on the top */
.bar {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold; 
    text-align: center;
    margin: 0px;
    background: rgb(26, 8, 73);
    height: 50px;
    padding: 0px;
   
}

.bar ul {
    display: inline-flex;
    list-style: none;
    margin: 0px;
    
    
    
    
}


.bar ul li {

    width: 180px;
    margin: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
    height: 50px;
    text-align: center;
    
}

.bar ul li:hover {
    background: chartreuse
}
/* menu1 (services) */

.menu1 {
    display: none;
    
}

.bar ul li:hover .menu1 {
    display: block;
    background:rgb(26, 8, 73);
    position: absolute;
    margin-top: 13px;
    
} 







.bar ul li:hover .menu1 ul
{
    display: block;
    
}

.menu1 ul li:hover {
    background: chartreuse;
}

.div1 {

    font-size: 30px;
    color: aliceblue;
    background: rgb(0, 0, 51);
    text-align: center;
    width: 1500px ;
    background-size: cover;
    background-repeat: repeat-x;
    width: ;
 }

.div1 ul {
    display: inline-flex;
    list-style: none;
    
}

.div1 ul li {
    width: 150px ;
    margin: 10px;
    padding: 0px;
    
}
/*  Bmenu */
.bmenu1 {
    display: none;
    width: 150px;
    text-align: center;

}
.bmenu1 ul{
    width: 150px;
    
}

.bmenu1 ul li {
    width: auto;
    text-align: left;
    
    padding: 1px;
    margin: 10px;
    font-size: 20px;
}


/*  div */
.div1 ul li:hover .bmenu1 {
    display: block;
    position: absolute;
    background: rgb(0, 0, 51);
    
}

.div1 ul li:hover .bmenu1 ul {
    display: block;
    width: 150px;
   
  
}


li:hover {
background: rgb(138, 104, 104) ;

}
.div1 ul li:hover .bmenu1 ul li {
    border-bottom: 1px dotted rosybrown;
    width: 125px;
}